<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="robots" content="index,follow"/>
        <meta name="renderer" content="webkit" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
        <meta name="keywords" content="javascripr, nodejs, css3, reactjs, webpack">
        <meta name="screen-orientation" content="portrait" />
        <meta name="full-screen" content="yes" />
        <meta name="browsermode" content="application" />
        <meta name="x5-orientation" content="portrait" />
        <meta name="x5-fullscreen" content="true" />
        <meta name="x5-page-mode" content="app" />
        <meta name="description" content="Yinjie - GitHub.io : Yinjie - GitHub.io">
        <title>{{ page.title || Yinjie - GitHub.io}}</title>
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.min.css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body class="mainpage">
        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <a id="forkme_banner" href="https://github.com/yj1438">View on GitHub</a>
                <h1 id="project_title"><a href="/">Yinjie - GitHub.io</a></h1>
                <h2 id="project_tagline">Welcome to the Yinjie's notes</h2>
            </header>
        </div>

        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                {{content}}
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
            </footer>
        </div>

        <!--baidu 统计-->
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?146fe495fee020bf0e4dd701aa73965f";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();

            // http2
            var img = new Image();
            img.src = 'https://www.h2statistics.ml/';
        </script>
    </body>
</html>