<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="robots" content="index,follow"/>
        <meta name="renderer" content="webkit" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
        <meta name="keywords" content="javascripr, nodejs, css3, reactjs, webpack">
        <meta name="screen-orientation" content="portrait" />
        <meta name="full-screen" content="yes" />
        <meta name="browsermode" content="application" />
        <meta name="x5-orientation" content="portrait" />
        <meta name="x5-fullscreen" content="true" />
        <meta name="x5-page-mode" content="app" />
        <meta name="description" content="Yinjie - GitHub.io : Yinjie - GitHub.io">
        <title>{{ page.title || Yinjie - GitHub.io}}</title>
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/github-light.css">

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
	<section class="page-header">
	    <h1 class="project-name">Lilywei739.GitHub.io</h1>
	    <h2 class="project-tagline"></h2>
	</section>

	<section class="main-content">
            <section id="main_content" class="inner">
                {{content}}
            </section>
	</section>


        <!-- FOOTER  -->
        <footer class="site-footer">
	    <span class="site-footer-credits">footer</span>
        </footer>



        <!--baidu 统计-->
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?146fe495fee020bf0e4dd701aa73965f";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();
            // http2
            var img = new Image();
            img.src = 'https://www.h2statistics.ml/';
        </script>
    </body>
</html>
